.task {
  &:not(:last-child) {
    margin: 0 0 50px;
  }
  
  &__link {
    text-decoration: none;

    h2 {
      margin: 0 20px 0 0;
      font-size: 50px;
      font-family: inherit;
      font-weight: 700;
    }
  }

  &__title {
    display: flex;
    align-items: flex-end;
    margin: 0 0 50px;
  }

  &-list {
    margin: 0;
    padding: 0;

    &__item {
      list-style: none;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
