.form {
  max-width: 500px;

  &__field {
    height: 32px;
    width: 100%;
    padding: 0 10px;
    color: #000;
    font-size: 14px;
    font-family: inherit;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-radius: 4px;

    &_mb {
      margin-bottom: 14px;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    font-size: 0;
  }

  &__radio {
    width: 20px;
    height: 20px;
    margin: 0;
  }
}
