.list {
  margin: 0 0 20px;
  padding: 0;

  &__item {
    list-style: none;
  }
}

.item {
  &:not(:last-child) {
    margin: 0 0 6px;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #000;
    text-decoration: none;

    &:hover,
    &.active {
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
      border-radius: 6px;
    }
  }

  &:hover .button-icon {
    opacity: 1;
  }

  &__icon {
    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;
    margin-right: 12px;
  }

  &__title {
    flex-grow: 1;
    margin: 0;
    width: 100%;
    padding-right: 6px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      margin-left: 6px;
    }
  }
}
