.app {
  display: flex;
  height: 100vh;
  min-height: 600px;

  &__sidebar {
    position: relative;
    padding: 60px 20px;
    width: 300px;
    height: 100%;
    background-color: #e9fff4;
  }

  &__content {
    flex-grow: 1;
    padding: 60px;
  }
}
